<h1>Olá visitante</h1>

<div class="">
    <form ngNativeValidate>
        <label>E-mail, CPF ou PIS</label>
        <br />
        <input required [(ngModel)]="login" name="login" value="" type="text" id="login">
        <br />
        <label>Senha</label>
        <br />
        <input required [(ngModel)]="senha" name="senha" value="" type="password" id="senha">
        <div style="margin-top:10px">
            <button [disabled]="!login || !senha" type="submit" (click)="onSubmit(login, senha)">Entrar</button>
            <button [routerLink]="['/cadastro']">Cadastro</button>
        </div>
    </form>
</div>


