<div class="boxGeral">
    <div class="boxBemVindo">
        <h3>Olá, visitante!</h3>
        <h4>Seja bem vindo à</h4>
        <div>
            <h2>PontoTel</h2>
        </div>
        <div>
            <h4>
                Sua plataforma completa de gestão e controle de ponto!
            </h4>
        </div>
    </div>
    <div class="background">
        <div class="contentLogin">
            <h2>Login</h2>
            <form ngNativeValidate>
                <label>E-mail, CPF ou PIS</label>
                <br />
                <input required [(ngModel)]="login" name="login" value="" type="text" id="login">
                <br />
                <label>Senha</label>
                <br />
                <input required [(ngModel)]="senha" name="senha" value="" type="password" id="senha">
                <div style="margin-top:10px;width:100%">
                    <button id="botaoLogin" [disabled]="!login || !senha" type="submit" (click)="onSubmit(login, senha)">Entrar</button>
                    <p>Não possui cadastro?</p>
                    <button id="botaoCadastro" [routerLink]="['/cadastro']">Cadastrar-se</button>
                </div>
            </form>
        </div>
    </div>
</div>

